%gradient-text {
  background: linear-gradient(135deg, #FC466B 0%, #3F5EFB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.header {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  margin-top: 24px;

  &__globe {
    display: flex;
    gap: 4px;

    &__home {
      display: flex;
      align-items: center;
      gap: 4px;

      i {
        font-size: 28px;
        @extend %gradient-text;
      }

      span {
        @extend %gradient-text;
      }
    }

    button {
      border: none;
      background-color: transparent;
      height: 28px;

      p {
        text-decoration: underline;
      }
    }
  }

  .title {
    font-family: "Londrina Outline", sans-serif;
    font-size: 44px;
    text-align: center;
    margin-top: -12px;
    @extend %gradient-text;
  }
}

.button {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  column-gap: 8px;

  &__search-bar {
    button {
      padding: 0 6px;
      height: 24px;
      border: 1px solid gray;
      background-color: transparent;
    }

    input {
      width: 90px;
      height: 24px;
      padding: 4px 8px;
      border: 1px solid gray;
      border-left: none;
      background-color: transparent;
    }

    input::placeholder {
      @extend %gradient-text;
    }
  }

  &__bg-mode {
    button {
      border: none;
      background-color: transparent;

      i {
        font-size: 22px;
        // color: gray;
      }
    }
  }

  &__quiz {
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 24px;
      padding: 0 8px;
      border: 1px solid gray;
      border-radius: 4px;
      background: linear-gradient(135deg, #FC466B 0%, #3F5EFB 100%);
      color: whitesmoke;
      font-family: "Michroma", sans-serif;
      font-size: 12px;

      p {
        margin-top: -2px;
      }
    }
  }
}

button {
  cursor: pointer;
}

.move-right {
  display: inline-block;
  position: relative;
  animation: moveRight 1s ease forwards;
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(600px);
  }
}

.zoom-in-text {
  display: inline-block;
  animation: zoomIn 0.6s ease-out forwards;
}

@keyframes zoomIn {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
