.map-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;

  .title {
    margin-bottom: 8px;
    font-size: 24px;
    font-family: 'Barlow';
    text-align: center;
  }

  #map {
    height: 80vh;
    width: 100%;
  }
}

.custom-marker {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigator {
  display: flex;
  gap: 18px;
  margin-bottom: 16px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  text-align: start;
}
