#map {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80vh;
  width: 1200px;
}

.custom-marker {
  display: flex;
  align-items: center;
  justify-content: center;
}