.games-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  color: var(--app-text);
  font-family: 'Barlow', sans-serif;
  font-size: 36px;

  .title {
    background: linear-gradient(135deg, #fc466b 0%, #3f5efb 100%);
    background-clip: text;
    color: transparent;
    font-family: 'Michroma', sans-serif;
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.games {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 900px;

  button {
    width: 400px;
    padding: 24px 0;
    border: none;
    border-radius: 12px;
    outline: 1px solid var(--app-border);
    background: transparent;
    color: var(--app-text);
    cursor: pointer;
    font-family: 'Edu NSW ACT Cursive', cursive;
    font-size: 32px;
  }

  button:hover {
    outline-width: 4px;
  }
}

@keyframes stretch {
  0% {
    transform: scaleX(1);
  }

  50% {
    transform: scaleX(1.4);
  }

  100% {
    transform: scaleX(1);
  }
}

.stretch-text {
  display: inline-block;
  animation: stretch 1.5s ease-in-out infinite;
}
