%gradient-text {
  background: linear-gradient(135deg, #fc466b 0%, #3f5efb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.charts-container {
  display: grid;
  gap: 36px;
  margin-top: -16px;
  padding-bottom: 48px;

  .nav {
    display: grid;
    justify-content: center;
    width: 100%;
    gap: 4px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

    .categories {
      display: flex;
      gap: 4px;
    }

    .rankings {
      display: flex;
      justify-self: center;
      gap: 4px;
    }
  }

  .chart {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;

    &__bar {
      width: 1260px;
      border-bottom: 1px solid gainsboro;
      padding-bottom: 56px;
    }

    &__pie {
      display: flex;
      justify-content: center;
      width: 1260px;
      border-bottom: 1px solid gainsboro;
      padding-bottom: 56px;

      .title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        margin: 36px 0;
      }

      &__country {
        width: 560px;
      }

      &__year {
        width: 560px;
      }
    }

    &__line {
      width: 1260px;
      border-bottom: 1px solid gainsboro;
      padding-bottom: 56px;
      padding-left: 56px;
      background-color: whitesmoke;

      .title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        margin: 36px 0;
      }
    }
  }
}

label {
  cursor: pointer;

  &.category {
    font-size: 20px;
    padding: 8px 16px;
  }

  &.ranking {
    font-size: 16px;
    padding: 8px 16px;
  }

  &:hover {
    border-radius: 12px;
    outline: 1px solid lightblue;
  }

  &.selected {
    border-radius: 12px;
    outline: 1px solid blueviolet;
    @extend %gradient-text;
    font-weight: bold;
  }
}

label:hover {
  filter: brightness(110%);
}

input {
  display: none;
}

.list-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  margin: 36px 0;
}

.list-tallest {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 36px;
  column-gap: 16px;
  padding: 0 36px;
  font-family: 'Barlow';

  .item {
    display: grid;
    height: 500px;
    width: 220px;

    &__image {
      display: flex;
      justify-content: center;
      height: 380px;
      width: 220px;
      overflow: hidden;
      border: 1px solid gainsboro;

      img {
        height: 100%;
        width: auto;
        object-fit: cover;
      }
    }
  }
}

.list-visited {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 36px;
  column-gap: 16px;
  padding: 0 36px;
  font-family: 'Barlow';

  .item {
    display: grid;
    height: 400px;
    width: 300px;

    &__image {
      display: flex;
      justify-content: center;
      height: 280px;
      width: 300px;
      overflow: hidden;
      border: 1px solid gainsboro;

      img {
        height: 100%;
        width: auto;
        object-fit: cover;
      }
    }
  }
}

.item__desc {
  height: 120px;
  display: grid;
  grid-template-columns: 36px 1fr;
  justify-content: start;
  align-items: start;
  padding: 8px;
  padding-top: 16px;
  gap: 4px;

  &__rank {
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      border-radius: 16px;
      border: 1px solid gainsboro;
      font-size: 16px;
    }
  }

  &__labels {
    font-size: 14px;

    .name {
      font-size: 16px;
      font-weight: bold;
      @extend %gradient-text;
    }
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top-color: #ff7ff4;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
