<div class="charts-container">
  <form [formGroup]="selectionForm" class="nav">
    <fieldset class="categories">
      <legend class="visually-hidden">Chart category</legend>
      @for (category of categories; track category.name) {
        <label
          class="category"
          [class.selected]="categoryValue === category.code"
          [for]="category.code"
        >
          <input
            type="radio"
            formControlName="category"
            [value]="category.code"
            [id]="category.code"
          />
          {{ category.name }}
        </label>
      }
    </fieldset>
    <fieldset class="rankings">
      <legend class="visually-hidden">Ranking size</legend>
      @for (ranking of rankings; track ranking.name) {
        <label
          class="ranking"
          [class.selected]="rankingValue === ranking.code"
          [for]="ranking.code"
        >
          <input
            type="radio"
            formControlName="ranking"
            [value]="ranking.code"
            [id]="ranking.code"
          />
          {{ ranking.name }}
        </label>
      }
    </fieldset>
  </form>

  @if (isLoading) {
    <div class="loader"></div>
  } @else if (errorMessage) {
    <div class="state-message error-message">{{ errorMessage }}</div>
  } @else if (!hasCurrentData) {
    <div class="state-message">No chart data available for this selection.</div>
  } @else {
    <div class="chart">
      <div class="chart__bar">
        @if (categoryValue === 'tallest') {
          <app-bar-chart
            [data]="currentListTallestBuildings"
            key="height_m"
            [tooltipBuilder]="tallestBuildingsBarChartTooltip"
          />
        }
        @if (categoryValue === 'mostVisited') {
          <app-bar-chart
            [data]="currentListMostVisited"
            key="visitors_per_year"
            [tooltipBuilder]="mostVisitedBarChartTooltip"
          />
        }
      </div>
      <div class="chart__doughnut">
        <div class="chart__doughnut__country">
          <div class="title">Distribution by Country</div>
          @if (categoryValue === 'tallest') {
            <app-doughnut-chart
              [data]="currentListTallestBuildings"
              key="country"
              [groupingFn]="groupByCountry"
              [tooltipBuilder]="tallestBuildingsDoughnutChartTooltip"
              [titlePrefix]="'Country'"
            />
          }
          @if (categoryValue === 'mostVisited') {
            <app-doughnut-chart
              [data]="currentListMostVisited"
              key="location"
              [groupingFn]="groupByCountryVisited"
              [tooltipBuilder]="mostVisitedDoughnutChartTooltip"
              [titlePrefix]="'Country'"
            />
          }
        </div>
        @if (categoryValue === 'tallest') {
          <div class="chart__doughnut__year">
            <div class="title">Distribution by Year of Completion</div>
            <app-doughnut-chart
              [data]="currentListTallestBuildings"
              key="year_completed"
              [groupingFn]="groupByYear"
              [tooltipBuilder]="tallestBuildingsDoughnutChartTooltip"
              [titlePrefix]="'Year'"
            />
          </div>
        }
      </div>
      <div class="chart__global-map">
        <app-global-choropleth
          [countryValues]="
            categoryValue === 'tallest' ? tallestBuildingsChoropleth : mostVisitedChoropleth
          "
        >
        </app-global-choropleth>
      </div>
      @if (categoryValue === 'tallest') {
        <div class="chart__line">
          <div class="title">Building Height Trends (by Year)</div>
          <app-line-chart
            [data]="currentListTallestBuildings"
            labelKey="year_completed"
            valueKey="height_m"
            titlePrefix="Year"
            [tooltipBuilder]="tallestBuildingsLineChartTooltip"
          />
        </div>
      }
    </div>

    @if (categoryValue === 'tallest') {
      <app-gallery
        [config]="{
          category: 'tallest',
          data: currentListTallestBuildings,
        }"
      />
    }
    @if (categoryValue === 'mostVisited') {
      <app-gallery
        [config]="{
          category: 'mostVisited',
          data: currentListMostVisited,
        }"
      />
    }
  }
</div>
