<div class="timeline-container">
  @if (loading) {
    <div class="loader">
      <app-loader></app-loader>
    </div>
  } @else {
    <div class="title">
      Architecture through the millennia…
      <i class="bi bi-hourglass-split"></i>
    </div>
    <div class="timeline">
      @for (group of groups; track group.groupName) {
        <div class="group">
          <div class="group__name">
            <span class="circle"></span>
            <span>
            {{ group.groupName }}
            </span>
          </div>
          <div class="group__items">
            @for (item of group.items; track item.id) {
              <div class="item">
                <div class="item__img">
                  <img [src]="item.imageURL" alt="">
                </div>
                <div class="item__name">
                    {{ item.name }}
                  <app-tooltip></app-tooltip>
                </div>
              </div>
            }
          </div>
        </div>

      }
    </div>
  }
</div>
