.charts-container {
  display: grid;
  gap: 36px;
  margin-top: -16px;
  padding-bottom: 48px;

  .nav {
    display: grid;
    justify-content: center;
    width: 100%;
    gap: 4px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

    .categories {
      display: flex;
    }

    .rankings {
      display: flex;
      justify-self: center;
    }
  }


  .chart {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;

    &__bar {
      width: 1260px;
    }

    &__pie {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1260px;
      margin-top: 36px;

      .title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 20px;
        text-align: center;
      }

      &__country {
        width: 560px;
      }

      &__year {
        width: 560px;
      }
    }
  }

}

label {
  cursor: pointer;

  &.category {
    font-size: 20px;
    padding: 8px 16px;
  }

  &.ranking {
    font-size: 16px;
    padding: 8px 16px;
  }

  &.selected {
    // background: linear-gradient(135deg, #FF6F8C 0%, #6F8CFF 100%);
    color: whitesmoke;
    border-radius: 12px;
    background-color: deepskyblue;
  }
}

label:hover {
  filter: brightness(110%);
}

input {
  display: none;
}


.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top-color: #ff7ff4;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: translate(-50%, -50%) rotate(360deg); }
}