.tooltip {
  position: absolute;
  background: gainsboro;
  color: black;
  padding: 12px;
  font-size: 14px;
  font-family: 'Barlow';
  border-radius: 4px;
  pointer-events: none;
  // white-space: nowrap;
  width: 300px;
  opacity: 0;
  transform: translateY(-5px);
  transition: opacity 0.2s ease, transform 0.2s ease;
  z-index: 1000;
}

.tooltip.show {
  opacity: 1;
  transform: translateY(0);
}