.main-container {
  margin: 0 auto;
  max-width: 1260px;

  @media (max-width: 1100px) {
    display: none;
  }
}

.mobile-view {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 36px;
  padding: 24px;
  
  @media (min-width: 1100px) {
    display: none;
  }
}
