.main-container {
  margin: 0 auto;
  max-width: 1425px;
  padding: 0 24px;
  display: flex;
  flex-direction: column;

  @media (max-width: 1160px) {
    display: none;
  }

  .header {
    height: 80px;
  }

  .content {
    height: calc(100vh - 80px);
  }
}

.mobile-view {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 36px;
  padding: 24px;

  @media (min-width: 1160px) {
    display: none;
  }
}
