<div class="home-container">
  @if (isLoading) {
    <div class="loader">
      <app-loader></app-loader>
    </div>
  } @else if (errorMessage) {
    <div class="state-message error-message">{{ errorMessage }}</div>
  } @else if (!groups.length) {
    <div class="state-message">No wonders available.</div>
  } @else {
    <div class="content">
      @for (group of groups; track group.groupName) {
        <div class="group">
          <div class="items">
            @for (item of group.items; track item.id) {
              <button
                #animatedItem
                type="button"
                class="item"
                [ngStyle]="getDynamicStyle(item)"
                (click)="goToDetailPage(item.id)"
                [attr.aria-label]="'Open details for ' + item.name"
              >
                {{ item.codename }}
              </button>
            }
          </div>
          <button
            type="button"
            class="group__name"
            (click)="goToSection(group.groupName)"
            [attr.aria-label]="'Open ' + group.groupName + ' group'"
          >
            {{ group.groupName }}
          </button>
        </div>
      }
    </div>
    <div class="modes">
      @for (mode of sortModes; track $index) {
        <button
          type="button"
          class="mode"
          [ngClass]="{ 'selected-mode': mode.isSelected }"
          (click)="sort(mode)"
          [attr.aria-pressed]="mode.isSelected"
        >
          {{ mode.name }}
        </button>
      }
    </div>
  }
</div>
