.container {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.control-btn {
  width: 36px;
  margin-top: 40vh;

  i {
    font-size: 36px;
    color: gray;
  }

  button {
    border: none;
    background-color: transparent;
  }
}

.details {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Barlow';

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid gainsboro;
    width: 960px;
    height: 70vh;

    img {
      width: 90%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__link {
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 8px;

    a {
      display: flex;
      gap: 8px;
      background: linear-gradient(135deg, #FC466B 0%, #3F5EFB 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;

      i {
        font-size: 18px;
      }
    }
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top-color: #ff7ff4;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: translate(-50%, -50%) rotate(360deg); }
}
