<div class="container">
  @if (details && currentDetailId) {
  <div class="back-btn control-btn">
    @if (currentDetailId > 1) {
    <button (click)="goBack()">
      <i class="bi bi-arrow-left-circle"></i>
    </button>
    }
  </div>
  <div class="details">
    <div class="details__image">
      @if (loading) {
      <div class="loader"></div>
      }
      <img
        [src]="details.imageURL"
        (load)="loading = false"
        (error)="loading = false"
        [hidden]="loading"
      />
    </div>
    @if (!loading) {
    <div class="details__texts">
      <div class="left-section">
        <div class="name">
          <a [href]="details.descriptionURL" target="_blank">
            <span> {{ details.name }} </span>
            <!-- <i class="bi bi-box-arrow-up-right"></i> -->
          </a>
        </div>
        <div class="location">
          <i class="bi bi-pin-map"></i>
          <span> {{ details.location }} </span>
        </div>
      </div>

      @let wikiExtract = details.wiki?.extract; @if (wikiExtract) {
      <div class="right-section">
        <div class="description">{{ wikiExtract }}</div>
      </div>
      }
    </div>
    }
  </div>
  <div class="next-btn control-btn">
    @if (currentDetailId < wondersData.length) {
    <button (click)="goNext()">
      <i class="bi bi-arrow-right-circle"></i>
    </button>
    }
  </div>
  }
</div>
