/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

body.dark-mode {
  background-color: #222222;
  color: #fff5ee;

  i {
    color: white;
  }

  button {
    background-color: transparent;
    color: #fff5ee;
    border: 1px solid white;
  }

  button:disabled {
    border-color: gray;
    color: gray;

    i {
      color: gray;
    }
  }

  .option.correct {
    color: #222222;

    i {
      color: #222222;
    }
  }

  input:not(:placeholder-shown) {
    color: #fff5ee;
  }
}
