.home-container {
  position: fixed;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 900px;

  @media (min-width: 1920px) {
    width: 1200px;
    gap: 24px;
  }
}

.loader {
  height: 50vh;
  margin: 0 auto;
}

.content {
  display: flex;
  justify-content: center;
  align-items: end;
  column-gap: 8px;
  font-size: 12px;
  font-family: 'Barlow';

  @media (min-width: 1920px) {
    font-size: 16px;
  }

  .group {
    // background-color: #dfcbde;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 40px;

    @media (min-width: 1920px) {
      min-width: 48px;
    }

    .items {
      display: flex;
      flex-wrap: wrap-reverse;
      row-gap: 8px;
      column-gap: 8px;
      justify-content: center;

      @media (min-width: 1920px) {
        row-gap: 16px;
        column-gap: 16px;
      }

      .item {
        display: flex;
        transition: transform 300ms ease-out;
        width: 32px;
        height: 32px;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        @media (min-width: 1920px) {
          width: 44px;
          height: 44px;
        }
      }

      .item:hover {
        transform: scale(1.4);
        z-index: 1;
      }
    }

    &__name {
      margin-top: 12px;
      height: 32px;
      font-family: 'Barlow Condensed';
    }
  }
}


.modes {
  display: flex;
  gap: 24px;
  justify-content: center;
  font-family: 'Barlow';
  font-size: 18px;

  .mode {
    cursor: pointer;

    &:hover {
      color: blueviolet;
      filter: brightness(70%);
    }
  }

  .selected-mode {
    font-weight: bold;
    transform: scale(1.2);
    color: blueviolet;
  }
}