.home-container {
  // background-color: aquamarine;
  position: fixed;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 900px;

  @media (min-width: 1500px) {
    width: 1000px;
    gap: 12px;
  }

  @media (min-width: 1920px) {
    width: 1200px;
    gap: 16px;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: end;
  column-gap: 8px;
  font-size: 12px;
  font-family: 'Barlow';

  @media (min-width: 1500px) {
    font-size: 14px;
  }

  @media (min-width: 1920px) {
    font-size: 16px;
  }

  .group {
    // background-color: #dfcbde;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 40px;

    @media (min-width: 1500px) {
      min-width: 50px;
    }

    @media (min-width: 1920px) {
      min-width: 60px;
    }

    .items {
      display: flex;
      flex-wrap: wrap-reverse;
      row-gap: 8px;
      column-gap: 8px;
      justify-content: center;

      @media (min-width: 1500px) {
        row-gap: 12px;
        column-gap: 12px;
      }

      @media (min-width: 1920px) {
        row-gap: 20px;
        column-gap: 20px;
      }

      .item {
        display: flex;
        transition: transform 300ms ease-out;
        width: 32px;
        height: 32px;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        @media (min-width: 1500px) {
          // font-size: 18px;
          width: 40px;
          height: 40px;
        }

        @media (min-width: 1920px) {
          // font-size: 20px;
          width: 50px;
          height: 50px;
        }
      }

      .item:hover {
        transform: scale(1.4);
        z-index: 1;
      }
    }

    &__name {
      margin-top: 12px;
      height: 32px;
      font-family: 'Barlow Condensed';
    }
  }
}


.modes {
  display: flex;
  gap: 24px;
  justify-content: center;
  font-family: 'Barlow';

  .mode {
    cursor: pointer;
  }

  .selected-mode {
    font-weight: bold;
    transform: scale(1.1);
    color: blueviolet;
  }
}